::ng-deep .error-snackbar {
  background-color: #f44336 !important; // Vermelho do Material Design
  color: white !important;
  font-weight: bold;
}

::ng-deep .success-snackbar {
  background-color: #4caf50 !important; // Verde
  color: white !important;
}